* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 80px 1fr 60px;
  font-family: "Montserrat", sans-serif;
}

.header {
  background-color: #09142b;
  display: flex;
  height: 100%;
  padding: 0 3rem;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  color: white;
  margin-right: 1.5rem;
}

.header h1 a {
  text-decoration: none;
  color: white;
}

.header input {
  padding: 10px;
  border-radius: 15px;
}

.header input:focus {
  outline: 0;
}

main {
  /* overflow: auto; */
  display: flex;
  justify-content: center;
  
}

.main {
  padding: 20px;
  height: 100%;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 20px;
  max-width: 1080px;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 2px 2px 5px lightgray;
  text-decoration: none;
  text-align: center;
  margin-bottom: ;
  color: black;
}

.thumb {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.video p {
  margin: 15px 0;
}

.footer {
  background-color: #09142b;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.footer p {
  color: white;
}

.player {
  display: flex;
  justify-content: center;
}

.player video {
  margin: 30px 0;
  width: 80vw;
  box-shadow: 2px 2px 5px lightgray;
  border-radius: 10px;
  max-width: 1080px;
}

.main-player h1 {
  margin-top: 30px;
}

.main-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

@media screen and (max-width: 480px) {
  .main {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 481px) and (max-width: 800px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


